[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "*"
wcwidth = "==0.2.5"
openpyxl = "==3.0.7"
appdirs = "*"
asgiref = "*"
botocore = "*"
certifi = "*"
click = "*"
flake8 = "*"
gunicorn = "*"
jmespath = "*"
mccabe = "*"
mypy-extensions = "*"
pathspec = "*"
pycodestyle = "*"
pyflakes = "*"
pyjwt = "*"
python-dateutil = "*"
python-http-client = "*"
python-monkey-business = "*"
pytz = "*"
six = "*"
starkbank-ecdsa = "*"
toml = "*"
urllib3 = "*"
whitenoise = "*"
black = "*"
boto3 = "*"
dj-database-url = "*"
django = "*"
django-better-admin-arrayfield = "*"
django-colorfield = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-jazzmin = "*"
django-nested-admin = "*"
django-ordered-model = "*"
django-rest-framework = "*"
django-storages = "*"
django-tinymce = "*"
django-webpack-loader = "*"
django-silk = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
pillow = "*"
psycopg2-binary = "*"
s3transfer = "*"
sendgrid = "*"
sentry-sdk = "*"
sqlparse = "*"
drf-reset-password = "*"
django-upgrade = "*"
django-dotenv = "*"
django-rest-passwordreset = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
